<h1>Your Order</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Size</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @item.description %></td>
      <td><%= @item.size %></td>
      <td><%= number_to_currency @item.price %></td>
    </tr>
  </tbody>
</table>
<figure>
  <%= @item.image.attached? ? image_tag(@item.image, width: 250, class:'is-rounded') : " " %>
  
</figure>

<button id="checkout">Checkout Now</button>

<script src="https://js.stripe.com/v3/"></script>
<script>
  let stripe = Stripe("pk_test_jzOKCfzpSkgbaAszbnHawYEv00E4xU3b4g");

  document.querySelector("#checkout").addEventListener("click", () => {
    stripe
      .redirectToCheckout({
        sessionId: "<%= @session.id %>"
      })
      .then(result => alert(result));
  });
</script>
