<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item ">
        <div class="buttons">
          <a>
            <%= link_to 'Show all items', items_path, class: "button is-primary
            " %>
          </a>
        </div>
      </div>
    </div>
    
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <% if !user_signed_in? %>
            <a>
            <%= link_to 'Home', root_path, class: "button is-primary" %>
          </a>
          <a>
            <%= link_to 'signup', new_user_registration_path, class: "button
            is-primary"%>
          </a>
          <a>
            <%= link_to 'login', new_user_session_path, class: "button
            is-danger"%>
          </a>
          
          <% end %>
          <% if user_signed_in? %>
          <a>
            <%= link_to 'My Items', user_items_path, class: "button is-primary"
            %>
          </a>
          <a>
            <%= link_to 'Sell', new_item_path, class: "button is-primary" %>
          </a>
          <a>
            <%= link_to 'Home', root_path, class: "button is-primary" %>
          </a>
          <a>
            <%= link_to 'Logout', destroy_user_session_path, method: 'delete',
            class: 'button is-danger'%>
          </a>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</nav>
