<!DOCTYPE html>
<html>
  <head>
    <title>BabyClothesBazaar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<nav>
  <p>
    <% if user_signed_in? %>
    <p>Welcome, <%= current_user.username%></p>
    <% else %>
    <%= link_to 'login', new_user_session_path%>
    <%= link_to 'signup', new_user_registration_path%>
    <%end%>
  </p>
  <p>
    <% if user_signed_in? %>
    <p>
      <%= link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'button is-warning'%></p>
    <%end%>
  </p>
</nav>

    <%= yield %>
  </body>
</html>
