<!DOCTYPE html>
<html>
  <head>
    <title>BabyClothesBazaar</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <%= render "layouts/nav" %>

    <section id="content">
      <% if user_signed_in? %>
      <p class="subtitle">Welcome, <%= current_user.username%></p>
      <% else %>
      <p class="subtitle">Welcome, to Baby Bazaar</p>
      <% end %>
      <section id="alerts">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      </section>
      <%= yield %>
    </section>

    <footer>
      <div class="note">
        <p>
          <strong>Baby Clothes Bazaar</strong> by
          <a href="https://philharps.github.io/Portfolio_Assignment/">Philip Harper 2019 © </a>.
        
        
        </p>
      </div>
    </footer>
  </body>
</html>
