<% items.each do |item| %>
<h3><%= link_to item.description, item_path(item) %></h3>
<h5>Price: <%= number_to_currency item.price %> Size: <%= item.size %></h5>
<p>Condition: <%= item.condition %> Gender: <%= item.gender %></p>
<% if current_user == item.user %>
<%= link_to  "Edit Item", edit_item_path(item) %>
<%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<hr>

<% end %>