<% items.each do |item| %>
    <h3 class="title"><%= link_to item.description, item_path(item) %></h3>
    <h5 class= "subtitle">Price: <%= number_to_currency item.price %> Size: <%= item.size %></h5>
    <figure class="image is-128x128">
    <%= item.image.attached? ? image_tag(item.image, width: 250) : " " %>
    </figure>
    <p>Condition: <%= item.condition %> Gender: <%= item.gender %></p>
    <% if current_user == item.user %>
    <%= link_to  "Edit Item", edit_item_path(item) %>
    <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<hr>

<% end %>